<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='bootstrap.css')}}">
    <title>{{title}}</title>
</head>
<body background="{{ url_for('static', filename='s.jpg') }}">
<header>
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">хроники серых городов</a>
        <p>
            <a class="btn btn-primary " href="/home">Новости</a>
            <a class="btn btn-primary " href="/applications">Заявка</a>
            <a class="btn btn-primary " href="/contact">Контакты</a>

        </p>
    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
    {% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>